{% extends "base.html" %}
{% block content%}
<div class="container my-3">
    <div class="row">
        <div class="col-9">
            <h1>IoT( 장소 : )</h1>
            <h2>관리자 :  이성원</h2>
            <p>
                  <table class="table">
    <thead>
      <tr>
        <th>번호</th>
        <th>구분</th>
        <th>데이터</th>
        <th>등록일</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td>초음파</td>
        <td>100</td>
        <td>2022-09-23</td>
      </tr>
    </tbody>
  </table>
            </p>
        </div>
           <div class="col-3">
            <img src="">
        </div>
    </div>


</div>
{% endblock %}