<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-bar-block w3-white w3-animate-left w3-text-grey w3-collapse w3-top w3-center" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <div style="text-align : center;">
  <ul class="nav navbar-nav" style="margin: 25%">
  <a href="/" onclick="w3_close()" class="w3-bar-item w3-button">
      {% if user.is_authenticated %}
              <h4 class="w3-padding-64 w3-center"><b>{{user.username}}님!<br>어서오세요.</b></h4>
      {% else %}
      <h4 class="w3-padding-64 w3-center"><b>로그인<br>해주십시오.</b></h4>
      {%endif%}
  </a>
      <!--<a href="/" onclick="w3_close()" class="w3-bar-item w3-button">HOME</a>-->
      <a href="{% url 'intro:profile' %}" onclick="w3_close()" class="w3-bar-item w3-button">소개</a>
      <a href="{% url 'pybo:index' %}" onclick="w3_close()" class="w3-bar-item w3-button">공지</a>
      {% if user.is_staff %}
      <a href="{% url 'p_ck:index' user.id %}" onclick="w3_close()" class="w3-bar-item w3-button">교수 출석체크</a>
      {% endif %}
      {% if user.is_active %}
        {% if not user.is_staff %}
          <br>
      <a href="{% url 's_ck:index' %}" onclick="w3_close()" class="w3-bar-item w3-button">학생 출석체크</a>
  {% endif %}{% endif %}

      {% if user.is_staff %}
      <a href="{% url 'iot:index' %}" onclick="w3_close()" class="w3-bar-item w3-button">출튀리스트</a>
    {% endif %}
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-hide-large">CLOSE</a>
    </ul>

  <ul class="nav navbar-nav" style="margin: 12% ">
      <a href="{% url 'common:signup' %}"><span class="glyphicon glyphicon-user"></span>회원가입</a>&nbsp;&nbsp;
      {% if user.is_authenticated %}
      <a href="{% url 'common:logout' %}"><span class="glyphicon glyphicon-log-in"></span>로그아웃</a>
      {% else %}
      <a href="{% url 'common:login' %}"><span class="glyphicon glyphicon-log-in"></span>로그인</a>
      {%endif%}
    Attendance Check Systeml
  </ul>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-white w3-large w3-padding">
  <span class="w3-left w3-padding">{{user.username}}님! 어서오세요.</span>
  <a href="javascript:void(0)" class="w3-right w3-button w3-white" onclick="w3_open()">☰</a>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>