{% load static%}
<!--<link rel="stylesheet" type="text/css" href="{% static 'style.css'%}">-->
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css'%}">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>여긴 뭐하는곳이냐</title>
</head>
<body>
 <br>
<div class="container my-3">
    <h2 class="border-bottom py-2">[question_list] </h2>
    <table class="table">
        <thead>
            <tr class="thead-dark">
                <th>번호</th>
                <th>제목</th>
                <th>작성일시</th>
            </tr>

        </thead>
        <tbody>

        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>